﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">KADIN OLMAK</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">ANASAYFA</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">KADINCA<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">YAŞAM</a></li>
                        <li><a href="#">AŞK</a></li>
                        <li><a href="#">SAĞLIK</a></li>
                        <li><a href="#">EVLİLİK</a></li>
                        <li><a href="#">ANNE-ÇOCUK</a></li>
                        <li><a href="#">GÜZELLİK</a></li>
                        <li><a href="#">MODA</a></li>
                        <li><a href="#">BURÇLAR</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">KADIN HAKLARI<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">NEDEN KADIN HAKLARI?</a></li>
                        <li><a href="#">TÜRKİYE'DE KADIN OLMAK</a></li>
                        <li><a href="#">KADININ DEĞERİ</a></li>
                        <li><a href="#">EĞİTİMDE KADIN</a></li>
                        <li><a href="#">HABERLERDE BUGUN KADIN</a></li>
                        <li><a href="#">BLOGGERLERIMIZ</a></li>
                        <li><a href="#">EĞİTİM DESTEK</a></li>
                        <li><a href="#">SİZDEN GELENLER</a></li>
                    </ul>
                </li>
                <li><a href="#">BİZ KİMİZ?</a></li>
                
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Arama">
                    </div>
                    <button type="submit" class="btn btn-default">ARA</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> GİRİŞ YAP</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> ÜYE OL </a></li>
                </ul>
            </ul>
        </div>
    </nav>
    
  
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/img/aaaa.jpg">
                    <div class="caption">
                        <h3>Kötüler ve Hikayeleri</h3>
                        
                        <p>Aşk vardır hayatta, kan vardır . Kötüler vardır, iyilerin olmadığı yerlerde. Bu hayatta bir kötüler vardır bir de anneler.

Bir sen varsın yaşamın köşesinde, bir ben ateşin ortasında. Bir dünya var her yerini görmek istediğimiz, bir de sen dünyada. “Hayaller güzeldir” der kinayeli sözler, hayalleri güzel insanlara.

Bir anne ağlar...
</p>
                        <p><a href="#" class="btn btn-warning" role="button">Devamını Oku</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/img/polyanna (2).jpg">
                    <div class="caption">
                        <h3>Polyanna bile üzgün</h3>
                        <p>
                            Hayatta yanlış yola girdiğimizi ne zaman anlarız ? Yolu yarıladıktan sonra?
                            Belki de yoldan çıktıktan sonra.
                            Peki ya her şeyin birbirine girdiğini her şey bittikten sonra mı fark ederiz?
                            Daha önce fark etsek ne değişecekti. Belki de daha çok birbirine girecekti her şey.
                            Olay var mıydı ortada, yoktu. Durum hikayesiydi yaşanan...
                        </p>
                        <p><a href="#" class="btn btn-warning" role="button">Devamını Oku</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/img/giden.jpg">
                    <div class="caption">
                        <h3>Çünkü gider herkes</h3>
                        <p>
                            Bilmediğin çok şey var derdi bana hep, hayattan öğreneceğin çok şey var. Ama şu bir gerçek artık, hayatın da benim hakkımda bilmedikleri var. Öğrenemeyecekleri, içime atıp çıkaramadıklarım var, hatta içime bile atamadıklarım.
                            En başından oturup ağlasam, biter mi bu hikaye? Hissettiklerim, hissetmeye doyamadıklarım...
                        </p>
                        <p><a href="#" class="btn btn-warning" role="button">Devamını Oku</a>
                    </div>
                </div>
            </div>
            
        </div>
  <div class="row">
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
              <img src="~/img/detosk.jpg" />
              <div class="caption">
                  <h3>Diyet öncesi yenilenme-Detoks</h3>

                  <p>Detoks vücudumuzda birikmiş olan toksinlerden arınma anlamına gelir, zayıflama programı değildir, vücudu yenileme anlamını taşımalıdır. 
                  Hamilelik ve emzirme döneminde olan kadınlar, kronik sağlık problemi olan kişiler, çocuklar, yaşlılar, ciddi kronik hastalığı olanların detox uygulaması doğru değildir...
                      
                  </p>
                  <p><a href="#" class="btn btn-warning" role="button">Devamını Oku</a>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
              <img src="~/img/lipsticks-500x333.jpg" />
              <div class="caption">
                  <h3>Sezonun Öne Çıkan 6 Ruj Rengi</h3>

                  <p>Bu sezon 6 temel tonun öne çıktığı ruj trendleri arasında kendinize uygun bir renk bulamamanız mümkün değil!
                   Özellikle son yıllarda makyajımızın vazgeçilmezi olan nude ve bordolar bu sene de kombinlerimizin en vurucu silahı olacak.
                  Bu tonlara ek olarak öne çıkan diğer renkler için bu haberimi dikkatle incelemelisiniz...
                      
                  </p>
                  <p><a href="#" class="btn btn-warning" role="button">Devamını Oku</a>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
              <img src="~/img/woman.jpg" />
              <div class="caption">
                  <h3>9 Başarılı Kadının Akşam Rutini</h3>

                  <p>”Çocuk da yaparım kariyer de!” diyen kadınların başarı hikayeleri hepimiz tarafından imrenilerek takip edilen haberlerin başında geliyor. 
                  Hem güzel, hem bakımlı, hem başarılı, hem kariyer sahibi hem de sıradan insan aynı anda olunabilir mi diye düşündüğümüzde, çok uzak gelse de sorunun cevabı: Evet!.. 
                  Peki bu kadınların akşam rutinlerini hiç merak ettiniz mi?...

                  </p>
                  <p><a href="#" class="btn btn-warning" role="button">Devamını Oku</a>
              </div>
          </div>
      </div>
      
    </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="thumbnail">
                            <div class="caption">
                                <center><h3>DUYURULAR</h3></center>
                                <div class="btn-group btn-group-justified">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning" data-toggle="dropdown">
                                            İŞ İLANLARI <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Tam Zamanlı</a></li>
                                            <li><a href="#">Part-Time</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning" data-toggle="dropdown">
                                            BURS BAŞVURU SAYFALARI <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Lisans ve Önlisans başvuruları</a></li>
                                            <li><a href="#">Lise ve daha öncesi için </a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">

                                        <button type="button" class="btn btn-warning" data-toggle="dropdown">
                                            İNDİRİMLİ KADIN MAĞAZALARINDA BU AY <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Gratis</a></li>
                                            <li><a href="#">Watsons</a></li>
                                            <li><a href="#">Tedi</a></li>
                                            <li><a href="#">KaracaHome</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="panel panel-default">

                <div class="panel-body">©2016 by AYŞE PARMAKSIZ</div>
            </div>
                   
        </div>
    
</body>
</html>
